<app-topbar></app-topbar>
<section class="home">
  <h1 class="uk-heading-line uk-text-center uk-margin-top"><span>NEWS<br>WORLD</span></h1>
  <p class="uk-text-bolder uk-text-center">Informacje z całego świata</p>
  <hr class="uk-divider-icon">
  <div class="home__article">
    <article *ngFor="let item of news"
      class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img [src]=item.urlToImage uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h2 class="uk-article-title">{{item.title}}</h2>
          <p class="uk-article-meta">Autor {{item.author}} dodany {{item.publishedAt.slice(0,10)}}</p>
          <p class="uk-article-meta">Źródło {{item.source.name}}</p>

          <p class="uk-text-lead">{{item.description}}
          </p>
          <p>{{item.content}}</p>
          <div>
            <a class="uk-button uk-button-secondary" target="_blank" [href]=item.url>Czytaj więcej</a>
          </div>
        </div>
      </div>
    </article>
    <span *ngIf="!spinner" class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
    <button *ngIf="hideButton" class="uk-button uk-button-secondary" (click)="loadMoreNews()">Więcej</button>
  </div>
</section>
